.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: purple;
    color: white;
  }
  .container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgb(16, 215, 215);
   position: absolute;
   z-index: 0;
   width: 100%;
   top: 18%;
   height: 100%;
    }
    .child1{
      background-color: bisque;
    }
    .child2{
      background-color: blue;
    }