.main {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: indigo;
  }
  .container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgb(16, 215, 215);
   position: absolute;
   z-index: 0;
    }
    .item1{
  
    }